@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Public Sans;
    font-weight: 100 900;
    src: url(/fonts/public-sans.ttf) format("truetype");
  }
  /* @font-face {
    font-family: Inter;
    font-weight: 100 900;
    src: url(/fonts/inter.woff2) format("woff2");
  }
  @font-face {
    font-family: Fira Sans;
    font-weight: 400;
    src: url(/fonts/fira-sans.woff) format("woff");
  } */
  /* html {
    @apply bg-white text-black;
  } */
  a {
    @apply transition duration-300 ease-in-out font-bold p-0.5 rounded no-underline hover:text-gray-100 hover:bg-primary;
  }
  h1 {
    @apply text-5xl font-extrabold my-4;
  }
  h2 {
    @apply text-3xl font-bold my-4;
  }
  h3 {
    @apply text-2xl font-bold my-4;
  }
  h4 {
    @apply text-lg my-2 text-gray-600;
  }
  p {
    @apply my-6;
  }
  ul {
    @apply list-inside list-disc
  }
  hr {
    @apply block mb-3 border-2 border-gray-300;
  }
}

@layer components {
  .btn {
    @apply transition duration-300 mx-2 p-3 text-xl font-bold rounded-xl ;
  }
}
