@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Public Sans;
    font-weight: 100 900;
    src: url(/fonts/public-sans.ttf) format("truetype");
  }
  /* @font-face {
    font-family: Inter;
    font-weight: 100 900;
    src: url(/fonts/inter.woff2) format("woff2");
  }
  @font-face {
    font-family: Fira Sans;
    font-weight: 400;
    src: url(/fonts/fira-sans.woff) format("woff");
  } */
  /* html {
    @apply bg-white text-black;
  } */
  a {
    @apply transition duration-300 font-bold rounded no-underline p-0.5 text-gray-100 bg-primary md:text-gray-900 md:bg-gray-100 hover:text-gray-100 hover:bg-primary dark:text-white dark:bg-primary-light md:dark:text-white md:dark:bg-gray-900 md:dark:hover:text-white md:dark:hover:bg-primary-light;
  }
  h1 {
    @apply text-4xl md:text-5xl font-extrabold my-4;
  }
  h2 {
    @apply text-3xl font-bold my-4;
  }
  h3 {
    @apply text-2xl font-bold my-4;
  }
  h4 {
    @apply text-lg my-2 text-gray-600 dark:text-gray-400;
  }
  p {
    @apply my-6;
  }
  hr {
    @apply transition duration-300 block mb-3 border-2 border-gray-300 dark:border-gray-600
  }
}

@layer components {
  .btn {
    @apply transition duration-300 mx-2 p-3 text-xl font-bold rounded-xl text-gray-900 bg-gray-100 hover:text-gray-900 hover:bg-gray-300 dark:text-gray-100 dark:bg-gray-900 dark:hover:text-gray-900 dark:hover:bg-gray-300;
  }
  .form {
    @apply transition duration-300 w-full my-4 p-3 rounded-xl shadow-inner outline-none border-2 focus:border-accent dark:text-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:focus:border-accent;
  }
  .brand-gradient {
    @apply bg-gradient-to-r from-primary-dark to-primary dark:from-primary dark:to-primary-light
  }
}
